# 01. Importing Libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [4]:
# Turn project folder path into a string
path = r'C:\Users\marze\CF Projects\08-2024 Instacart Basket Analysis'

#### Task 4.6.3 Import the orders_products_combined dataframe from the pickle file

In [6]:
# Import orders_products_combined.pkl
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [7]:
# Import dataset products_checked.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

#### Task 4.6.4 Check the shape of the imported dataframe

In [9]:
#check the shape of df_ords_prods_combined
df_ords_prods_combined.shape

(32434489, 11)

In [10]:
# check the output
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [11]:
df_prods.shape

(49672, 6)

In [12]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
# Drop unnecessary columns 'Unnamed:0'
df_prods = df_prods.drop(['Unnamed: 0'], axis=1)

In [14]:
# Check the output
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [15]:
df_prods.shape

(49672, 5)

#### Task 4.6.5 Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

A suitable way to combine the df_ords_prods_combined dataframe with the df_prods dataframe is to use a df.merge() function due to their shared column 'product_id'.

In [21]:
# merge the dataframes using df.merge()
df_ords_prods_merge = df_prods.merge(df_ords_prods_combined, indicator = True)

ValueError: Cannot use name of an existing column for indicator column

In [23]:
# drop the _merge column from df_ords_prods_combined
df_ords_prods_combined = df_ords_prods_combined.drop(['_merge'], axis=1)

In [25]:
# check the output
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196,1,0
1,2539329,1,1,2,8,NaN,True,14084,2,0
2,2539329,1,1,2,8,NaN,True,12427,3,0
3,2539329,1,1,2,8,NaN,True,26088,4,0
4,2539329,1,1,2,8,NaN,True,26405,5,0

In [27]:
df_ords_prods_combined.shape

(32434489, 10)

In [29]:
# now, merge the dataframes without the _merge column
df_ords_prods_merge = df_prods.merge(df_ords_prods_combined, on = 'product_id', indicator = True)

In [31]:
#check the output
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both

In [2]:
#check shape
df_ords_prods_merge.shape

NameError: name 'df_ords_prods_merge' is not defined

#### Task 4.6.6 Confirm the results of the merge using the merge flag

In [ ]:
df_ords_prods_merge['_merge'].value_counts()

#### Task 4.6.7 Export the newly created dataframe as ords_prods_merge in a suitable format

In [ ]:
# export dataframe as pkl
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))