# Task 4.9 Part 1

#### Import Libraries and Data

In [3]:
# import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [4]:
# Turn project folder path into a string
path = r'C:\Users\marze\CF Projects\08-2024 Instacart Basket Analysis'

In [5]:
# importing dataframe
cust = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))

### 4. Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that don’t add anything to your analysis.

In [7]:
cust.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [8]:
cust.shape

(206209, 10)

In [9]:
cust.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [10]:
#rename columns
cust.rename(columns = {'First Name' : 'first_name'}, inplace = True)

In [11]:
cust.rename(columns = {'Surnam' : 'last_name'}, inplace = True)

In [12]:
cust.rename(columns = {'Gender' : 'gender'}, inplace = True)

In [13]:
cust.rename(columns = {'STATE' : 'state'}, inplace = True)

In [14]:
cust.rename(columns = {'Age' : 'age'}, inplace = True)

In [15]:
cust.rename(columns = {'n_dependants' : 'number_of_dependents'}, inplace = True)

In [16]:
cust.rename(columns = {'fam_status' : 'marital_status'}, inplace = True)

In [17]:
# check columns
cust.columns

Index(['user_id', 'first_name', 'last_name', 'gender', 'state', 'age',
       'date_joined', 'number_of_dependents', 'marital_status', 'income'],
      dtype='object')

### 5. Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.

In [19]:
# check for mixed data types
cust.dtypes

user_id                  int64
first_name              object
last_name               object
gender                  object
state                   object
age                      int64
date_joined             object
number_of_dependents     int64
marital_status          object
income                   int64
dtype: object

In [20]:
# change user_id to a string
cust['user_id'] = cust['user_id'].astype('str')

In [21]:
cust.dtypes

user_id                 object
first_name              object
last_name               object
gender                  object
state                   object
age                      int64
date_joined             object
number_of_dependents     int64
marital_status          object
income                   int64
dtype: object

In [22]:
# check for mixed data-types in each column
for col in cust.columns.tolist():
    weird=(cust[[col]].map(type)!=cust[[col]].iloc[0].apply(type)).any(axis=1)
    if len(cust[weird])>0:
        print (col)

first_name

In [23]:
# we can see that first_name column has mixed data types. Let's change them all to string
cust['first_name'] = cust['first_name'].astype('str')

In [24]:
cust.dtypes

user_id                 object
first_name              object
last_name               object
gender                  object
state                   object
age                      int64
date_joined             object
number_of_dependents     int64
marital_status          object
income                   int64
dtype: object

In [25]:
# Check for missing data
cust.isnull().sum()

user_id                 0
first_name              0
last_name               0
gender                  0
state                   0
age                     0
date_joined             0
number_of_dependents    0
marital_status          0
income                  0
dtype: int64

In [26]:
# check for duplicate rows
cust_dups = cust[cust.duplicated()]

In [27]:
cust_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, number_of_dependents, marital_status, income]
Index: []

In [28]:
cust.describe()

                 age  number_of_dependents         income
count  206209.000000         206209.000000  206209.000000
mean       49.501646              1.499823   94632.852548
std        18.480962              1.118433   42473.786988
min        18.000000              0.000000   25903.000000
25%        33.000000              0.000000   59874.000000
50%        49.000000              1.000000   93547.000000
75%        66.000000              3.000000  124244.000000
max        81.000000              3.000000  593901.000000

### 6. Combine your customer data with the rest of your prepared Instacart data. (Hint: Make sure the key columns are the same data type!)

In [30]:
# Import orders_products_grouped_aggregated.pkl
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_grouped_aggregated.pkl'))

In [31]:
ords_prods_merge.dtypes

product_id                       int64
product_name                    object
aisle_id                         int64
department_id                    int64
prices                         float64
order_id                         int64
user_id                          int64
order_number                     int64
orders_day_of_week               int64
order_hour_of_day                int64
days_since_prior_order         float64
first_order                       bool
add_to_cart_order                int64
reordered                        int64
_merge                        category
price_range_loc                 object
busiest_day                     object
busiest_days                    object
busiest_period_of_day           object
max_order                        int64
loyalty_flag                    object
mean_price                     float64
spending_flag                   object
median_days_between_orders     float64
frequency_flag                  object
dtype: object

In [32]:
# change user_id in ords_prods_merge to a string
ords_prods_merge['user_id'] = ords_prods_merge['user_id'].astype('str')

In [33]:
cust.dtypes['user_id']

dtype('O')

In [34]:
ords_prods_merge.dtypes['user_id']

dtype('O')

In [35]:
# drop _merge column
ords_prods_merge = ords_prods_merge.drop(columns=['_merge'])

In [36]:
ords_prods_merge.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'first_order',
       'add_to_cart_order', 'reordered', 'price_range_loc', 'busiest_day',
       'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'mean_price', 'spending_flag', 'median_days_between_orders',
       'frequency_flag'],
      dtype='object')

In [37]:
# merge the two dataframes using the user_id column using a default join (inner join)
cust_ords_prods = ords_prods_merge.merge(cust, on = 'user_id', indicator = True)

In [38]:
cust_ords_prods.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,first_name,last_name,gender,state,age,date_joined,number_of_dependents,marital_status,income,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Deborah,Glass,Female,Vermont,66,6/16/2018,2,married,158302,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Heather,Myers,Female,Wisconsin,40,2/9/2020,3,married,31308,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Heather,Myers,Female,Wisconsin,40,2/9/2020,3,married,31308,both

In [39]:
cust_ords_prods.shape

(32404859, 34)

In [40]:
# Check inner join value counts
cust_ords_prods['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [41]:
#drop _merge column
cust_ords_prods = cust_ords_prods.drop(columns=['_merge'])

In [42]:
cust_ords_prods.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,frequency_flag,first_name,last_name,gender,state,age,date_joined,number_of_dependents,marital_status,income
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Frequent customer,Deborah,Glass,Female,Vermont,66,6/16/2018,2,married,158302
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Frequent customer,Heather,Myers,Female,Wisconsin,40,2/9/2020,3,married,31308
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Frequent customer,Heather,Myers,Female,Wisconsin,40,2/9/2020,3,married,31308

In [43]:
cust_ords_prods.shape

(32404859, 33)

### 8.Export this new dataframe as a pickle file so you can continue to use it in the second part of this task.

In [ ]:
#exporting as a pickle
cust_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'cust_ords_prods_merge.pkl'))